<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>imagesource - anonymouse image uploads and downloads</title>
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.3.1/flatly/bootstrap.min.css">
    <link href="https://www.jqueryscript.net/demo/masonry-photo-gallery-imgal/imgal.min.css" rel="stylesheet">
</head>

<body>
    <nav>
        <img src="" alt="imagesource logo">
    </nav>
    <div class="container">
        <marquee behavior="" direction="">Format file yang diperbolehkan: jpg, jpeg, png, jfif. ~ Ukuran maksimal: 2MB.
            ~ Gambar berbentuk persegi.</marquee>
        <div class="flex-desk">
            <!--using on desktop mode only-->
            <div class="preview">
                <img src="http://placehold.it/1000" alt="Your Image Preview" id="preview">
            </div>
            <div class="select">
                <form action="/uploads" method="POST" enctype="multipart/form-data">
                    <input type="file" id="image" name="image" onchange="readURL(this);" />
                    <input type="submit" value="Upload" />
                </form>
            </div>
        </div>
        <div class="img-list imgal-container">
            <% files.forEach(file=> { %>
                <img src="<%= file %>" alt="" class="imgal-img">
                <% }); %>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
        crossorigin="anonymous"></script>
    <script src="../js/imgal.js"></script>
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    document.getElementById("preview").src = e.target.result
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
</body>

</html>